:root{
  --secondary-color: #0c356a;
  --primary-color: #279eff;
  --accent-color: #d5ffd0;
  --off-color: #40f8ff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

body{
  /* display: flex;
 justify-content: center;
 align-items: center; */
 background-color: var(--secondary-color);
}
#resetPasswordPageBody{
  display: flex;
 justify-content: center;
 align-items: center;

}
#registrationPageBody{
  display: flex;
 justify-content: center;
 align-items: center;

}
#loginPageBody{
  display: flex;
 justify-content: center;
 align-items: center;
}
#forgottenpassword-body{
  display: flex;
 justify-content: center;
 align-items: center;

}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  height: 100%;
  width: 600px;
  border-radius: 12px;
  justify-content: center;
  background-color: var(--primary-color);
}
input{
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
}
h1{
  padding: 3px;
  margin: 5px;
}
button{
padding: 4px;
color: var(--accent-color);
font-size: 19px;
background-color: var(--primary-color);
margin: 2px;
width: 100px;
font-weight: 60px;
border-radius: 5px;
border: 1px solid var()
}
button:hover{
  cursor: pointer;
}
#registrationPageForm{
  display: flex;
  flex-direction: column;
}
#forgottenPasswordForm{
  display: flex;
  flex-direction: column;
}
#resetPasswordForm{
  display: flex;
  flex-direction: column;
}
#loginForm{
  display: flex;
  flex-direction: column;
}
#homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;
  margin: 20px;
}
.header-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
}
.header-right{
  display: flex;
  align-items: center;
}
.header-left{
  flex: 1;
  text-align: left;
}
.header-right a{
  margin-left: 10px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}
p{
  color: white;
}
h1,h2{
  font-weight: bold;
  color: white;
}
a{
  text-decoration: none;
}
.card{
  width: 400px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid var(--accent-color);
  padding: 10px;
  height: 350px;
}
.cardImage{
width: 100%;
height: 200px;
border-radius: 3px;
} 
.readMore{
  display: inline-block;
 padding: 5px 10px;
 text-decoration: none;
 border-radius: 3px;
 color: var(--accent-color);
}
.card-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.newsletter{
  margin: 30px;
  padding: 30px;
}
.post-content{
  line-height: 1.5;
  margin: 9px;
  padding: 8px;
}
.socials{
display: flex;
flex-direction: column;
align-items: center;
margin: 10px; 
}
table{
  align-items: center;
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0;
  justify-content: center;
  margin: 100px;
}
th, td{
  padding: 8px;
  border: 1px solid var(--accent-color);
  text-align: left;
  font-size: 20px;
  color: #fff;
}
th{
  background-color: var(--primary-color);
}
#message{
  text-align: center;
  background-color: red;
  padding: 3px 0 ;
  border-radius: 5px;
  display: none;
}
#resetHeader{
 margin-right: 70px;
}
#resetHeader a{
  color: var(--accent-color);
}
#userHeader a{
  margin-top: 20px;
  padding: 20px;
  color: var(--off-color);
  font-size: large;
  font-weight: bold;
}
